@page
@model IndexModel
@{
    ViewData["Title"] = "The Vault";
}

<div class="container">
    <div class="row">
        <div class="col-4 mx-auto">
            <img src="images/Splash.png" class="img-fluid" alt="The Vault" />
        </div>
    </div>
</div>